
<%- include('modules/loginModule/views/components/layouts/header.ejs') %>

<div class="container-fluid col-lg-12">
    <div class="p-3 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold text-center">NodeJS - ExpressJS Framework - API</h1>
            <p class="col-md-12 fs-4 text-center">Below is the sample data</p>
            <!-- <button class="btn btn-primary btn-lg" type="button">Example button</button> -->
        </div>

        <table id="student_datatable" class="table table-dark table-striped table-bordered text-center" style="width:100%">
            <thead class="table-header">
                <tr>
                    <th>FIRST NAME</th>
                    <th>MIDDLE NAME</th>
                    <th>LAST NAME</th>
                    <th>EXTENSION NAME</th>
                    <th>EMAIL</th>
                    <th>CONTACT NO</th>
                    <th>STATUS</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>

<%- include('modules/loginModule/views/components/layouts/footer.ejs') %>
        
